@import '../../scss/variables';

.main-header {
	background-color: $whiteLily;
	min-height: 60px;
	width: 100%;
	position: fixed;
	z-index: 10;
}

.menu-btn {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
	z-index: 15;
	background-position: center;
	background-repeat: no-repeat;

	&__open {
		background-image: url('../../img/menu.png');
		background-size: 35px 35px;
		transition: all 0.15s ease-in;
	}

	&__close {
		background-image: url('../../img/cross.png');
		background-size: 30px 30px;
		transition: all 0.15s ease-in;
	}
}

.main-nav {
	display: none;

	&__list {
		text-align: center;
	}

	&__item {
		text-transform: uppercase;
		margin: 2em 0;
	}

	&__link {
		font-size: 1.8rem;
		font-weight: 300;
	}
}

.is-active {
	display: block;
	background-color: $whiteLily;
	min-height: 100vh;
	width: 100%;
	padding-top: 70px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	animation: menuOpen 0.4s ease-out;
}

@keyframes menuOpen {
	0% {
		top: -1000px;
		opacity: 0;
	}
}
