@import './scss/variables';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: $fontPrincipal;
	font-size: $fontSize;
	font-weight: 400;
	background-color: lightpink;
}
