// FONTS
$fontPrincipal: 'Montserrat', sans-serif;
$fontSecondary: 'Quicksand', sans-serif;
$fontSize: 20px;

// COLORS
$whiteLily: #fff;
$pinkPeony: #f1d0d3;
$blackRose: #333;
$greyLily: #95a5a6;

// QUERIES
$smallMobile: 375px;
$tablet: 768px;
$desktop: 1160px;
